
[clone]
multithreaded = True
threads = 4

[git]
submodules_recursive = True

[build]
skip_build = False
save_ast = True
save_ir = True
keep_build_files = True
keep_source_files = True
# gets passed to the make -j command
jobs = 1
clang_version = 9