
[clone]
# number of threads also applies to how many docker
# containers are spawned at a time
multithreaded = True
threads = 4

[git]
submodules_recursive = True

[build]
# build twice to extend the dependency map
double_build = True
# try to install dependencies using CI systems or dependency map
install_deps = True
# only run the configure stage
skip_build = False
# save IR and AST to compiler_output
save_ir = True
save_ast = True
# don't delete the source and build directory after the container exits
# keep_build_files = True # no longer used
keep_source_files = False
# gets passed to the make -j command
jobs = 24
# 8, 9, 10, 11 supported
clang_version = 18
# timout to kill a docker container without progress
docker_timeout = 30
